p, h2 {
    color: rgb(255, 255, 255);
    font-family: Verdana, serif;
    text-align: center;
}

h2 {
    color:  rgb(255, 118, 118);
}

.title {
    color: white;
    font-family: Helvetica, serif;
    padding-left: 70px;
}

.inv {
    opacity: 0;
}

.box {
    align: center;
    background-color: white;
    background-color: rgba(255,255,255,0.9);
    color: black;
    width: 88%;
    height: auto;
    padding: 15px 15px 115px;
    margin: 200px 5% auto 5%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}

img {
    opacity: 1;
    width: 30%;
    float: left;
    margin-right: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
    z-index: 1;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 31px 16px;
  Font-family: Helvetica, serif;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #b87484;
}

.active:hover {
    background-color: #b87484;
}

body {
    background: url(https://st4.depositphotos.com/2389541/22525/v/1600/depositphotos_225256284-stock-illustration-damask-vector-seamless-pattern-vintage.jpg) fixed center;
    margin: 0;
}

@media only screen and (max-width: 600px) {
  .title {
   display: none;
  }
  .img {
      width: 100%;
      margin-bottom: 5%;
  }
  .box {
      width: 80%;
  }
}