p, h2 {
    color: rgb(255, 255, 255);
    font-family: Verdana, serif;
    text-align: center;
}

h2 {
    color:  rgb(255, 118, 118);
}

.title {
    color: white;
    font-family: Helvetica, serif;
    padding-left: 70px;
}

.inv {
    opacity: 0;
}

.image {
    object-fit: cover;
    width: 20%;
    height: 300px;
    margin: 200px 2.5% auto;
    float: left;
}

.imgtext {
    width: 16%;
    height: 300px;
    margin: 0 2.5% auto;
    float: left;
    color: black;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    font-size: 70%;
    padding: 2%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
    z-index: 1;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 31px 16px;
  Font-family: Helvetica, serif;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #b87484;
}

.active:hover {
    background-color: #b87484;
}

.foto {
    width: 20%;
    height: auto;
    float: left;
}

body {
    background: url(https://st4.depositphotos.com/2389541/22525/v/1600/depositphotos_225256284-stock-illustration-damask-vector-seamless-pattern-vintage.jpg) fixed center;
    margin: 0;
}

@media only screen and (max-width: 600px) {
  .title {
   display: none;
  }
    .image {
    width: 80%;
    margin-left: 10%;
  }
}