<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hoofdpagina</title>
    <link href='{{ url_for('static', filename='main.css') }}' rel='stylesheet'/>
</head>
<body>
 <ul>
  <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('agenda') }}">Agenda</a></li>
  <li><a href="{{ url_for('contact') }}">Contact</a></li>
  <li><a href="{{ url_for('team') }}">Team</a></li>
  <h1 class="title">KAPPER AARDAPPELKLAPPER</h1>
</ul>
 <p class="box">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut lectus imperdiet, ultricies tellus non, molestie quam. Integer dignissim dolor urna, in eleifend nulla volutpat id. Vivamus molestie feugiat turpis in ultricies. Vivamus gravida nulla eget ante mattis tincidunt. Cras et risus dolor. Proin a nisi dui. Aliquam erat volutpat. Integer a aliquet mauris, eget eleifend tellus.

Nulla sed massa ante. Fusce ac tincidunt odio. Nulla at ultrices mi, a bibendum mauris. Curabitur malesuada vitae magna quis vehicula. Sed non vulputate est. Nullam dictum dictum eros, in aliquam dui tempus id. Morbi orci ipsum, volutpat sed efficitur efficitur, tincidunt vel ipsum. Cras at vulputate nulla. Donec luctus lectus magna, a aliquet mauris vehicula ac. Integer eu magna sed nulla feugiat ultricies. Mauris dictum scelerisque sollicitudin. Aenean vitae mauris tempor, feugiat quam quis, mollis justo.

Nunc malesuada lacus ac porttitor lobortis. Phasellus suscipit vel velit nec vehicula. In interdum, nunc eget dictum iaculis, eros magna tristique ipsum, in dapibus ex orci sit amet neque. Ut scelerisque nulla non tincidunt aliquam. Quisque finibus elit ipsum, id bibendum metus condimentum sit amet. Pellentesque fermentum congue odio et commodo. Maecenas aliquet vel justo eget vehicula. Curabitur et blandit quam. Pellentesque eu urna quam.

Quisque tincidunt vestibulum laoreet. Integer id dui est. Maecenas libero lorem, scelerisque eu nisi ut, laoreet fringilla augue. Aenean convallis nibh arcu, sit amet euismod arcu fermentum nec. Fusce non eros vehicula, sodales augue nec, auctor orci. Ut gravida lacus quis tortor pulvinar, eget vehicula libero luctus. Integer tincidunt nunc et elit lobortis fermentum. Cras bibendum, massa nec sodales fringilla, neque augue rhoncus ipsum, et dignissim est libero quis augue.

Aliquam posuere metus nulla, vitae auctor velit blandit non. Nam in libero velit. Morbi et commodo ipsum. Proin efficitur nisl nibh, eu pulvinar orci commodo ut. Aenean et est ac orci dignissim faucibus. Cras dapibus tempor nisi eget molestie. Etiam enim nunc, maximus id nulla vel, sodales fringilla est. Maecenas volutpat hendrerit accumsan. In sagittis commodo nibh, a aliquam nunc eleifend eget. Fusce quis dui a magna elementum porttitor. Maecenas massa lorem, porttitor vel consequat et, pulvinar eleifend leo. Curabitur sed nisl ac enim vehicula volutpat. Fusce consectetur nunc nisi, vitae malesuada diam dictum et. Donec pulvinar porta tempor. </p>
</body>
</html>