<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Afspraak maken</title>
    <link href='{{ url_for('static', filename='succes.css') }}' rel='stylesheet'/>
</head>
<body>
 <ul>
  <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a class="active" href="{{ url_for('agenda') }}">Agenda</a></li>
  <li><a href="{{ url_for('contact') }}">Contact</a></li>
  <li><a href="{{ url_for('team') }}">Team</a></li>
  <h1 class="title">Afspraak maken</h1>
</ul>

</body>
</html>